{{ define "main" }}
<main>
	<article>
		{{ if (and (.Params.won) (.Params.lost)) }}
		<div class="rating">
			{{.Params.won}}<span class="empty">{{.Params.lost}}</span>
		</div>
		{{ end }}
		<div class="title">
			<h1 class="title">
				{{ .Title }}
			</h1>
		</div>
		{{ if (and (.Params.location) (.Params.locationHref)) }}
		<div class="meta">
			<a href={{.Params.locationHref}}
			target="_blank">{{.Params.location}}</a>
		</div>
		{{ end }}

		{{ if .Params.sandwich }}
		<div class="meta">
			{{ .Params.sandwich }} -
			{{ if .Params.price }}
			{{ .Params.price }}
			{{ end }}
		</div>
		{{ end }}
		{{ if .Date }}
		<div class="meta">Reviewed on
			{{ dateFormat "January 2, 2006" .Date }}
			{{ if .Params.eatenAt }}
			at {{.Params.eatenAt}}
			{{end}}
			{{ if .Draft}}
			, <span class="draft-label">DRAFT</span>
			{{ end }}
		</div>
		<br/>
		{{ end }}
		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
					{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
			</nav>
            <br/>
			{{ end }}
			{{ end }}
		</div>

		{{- $.Scratch.Set "isDisqus" true -}}
		<!-- Check if disqus short name is given -->
		{{ if not .Site.Config.Services.Disqus.Shortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</article>
</main>
{{ end }}
