<!doctype html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in"
				.Site.Params.mainSections }} {{ $paginator := .Paginate (where $pages
				"Params.hidden" "ne" true) }} {{ range $paginator.Pages }}
				<section class="list-item">
					{{ if (and (.Params.won) (.Params.lost)) }}
					<div class="subtitle">
						<div class="rating">
							{{ .Params.won }}<span class="empty">{{ .Params.lost }}</span>
						</div>
					</div>
					{{ end }}
					<div class="title">
						<h1>
							<a href="{{ .RelPermalink}}">{{.Title}}</a>
						</h1>
					</div>
					{{ if .Params.location }}
					<div class="subtitle meta">{{.Params.locationShort}}</div>
					{{ end }} {{ if .Params.sandwich }}
					<div class="meta">{{ .Params.sandwich }}</div>
					{{ end }} {{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>

				<br />
				{{ end }} {{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
